* {
  margin-left: 0;
  padding: 0;
  font-family: sans-serif;
}

#heading {
  text-align: center;
  margin: 50px;
}

#heading p {
  margin: 10px;
}

#first-section,
#second-section,
hr {
  margin-left: 25%;
  width: 50%;
}

hr {
  color: rgb(227, 225, 225);
}

#faq {
  background-color: azure;
  padding: 20px;
}

ol li,
ul li {
  padding-bottom: 10px;
  margin-left: 20px;
}

a {
  text-decoration: none;
}
